---
---

@import "{{ site.theme }}";

.title
{
	color: black;
}

body {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.inner
{
	margin-top: 50px !important;
}

img[src*="#huge"] {
   width:156px;
   height:145px;
}
